<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.rabidbeaver.cupsprintservice"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="ml.rabidbeaver.cupsprint.CupsPrintFramework"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CupsPrint" >
        <service
            android:name="ml.rabidbeaver.printservice.CupsPrintService"
            android:permission="android.permission.BIND_PRINT_SERVICE" >
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>

            <meta-data
                android:name="android.printservice"
                android:resource="@xml/printservice" />
        </service>

        <activity
            android:name="ml.rabidbeaver.cupsprint.PrinterMainActivity"
            android:exported="true"
            android:label="@string/title_activity_printer_list" >
        </activity>
        <activity
            android:name="ml.rabidbeaver.cupsprint.PrinterAddEditActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_printer_add"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="ml.rabidbeaver.cupsprint.MimeTypesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_mime_types" >
        </activity>
        <activity
            android:name="ml.rabidbeaver.printservice.AdvancedOptionsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="android.permission.START_PRINT_SERVICE_CONFIG_ACTIVITY"
            android:label="@string/title_activity_advanced_settings"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CupsDialogTheme" >
        </activity>
        <activity
            android:name="ml.rabidbeaver.cupsprint.JobListActivity"
            android:label="@string/title_activity_job_list" >
        </activity>
    </application>

</manifest>